
*{
  box-sizing: border-box;  
  margin: 0px;
  padding: 0px;
}

body.active-modal {
  overflow-y: hidden;
}

body{
  max-width: 1600px; 
  margin: 0px auto; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}
