/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;1,400;1,600&display=swap'); */

*{
  box-sizing: border-box;  
  margin: 0px;
  padding: 0px;
}

body.active-modal {
  overflow-y: hidden;
}

body{
  max-width: 1600px; 
  margin: 0px auto; 
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
